*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    .container{
        width: 80%;
        height: 100vh;
        background-color: antiquewhite;
        .header{
            height: 30%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            :nth-child(3){
                select{
                    padding: 10px 5rem;
                    border: none;
                    border-radius: 8px;
                }
            }
        }
        .list-university{
            height: 70%;
            background-color: grey;
            display:grid;
            grid-template-columns: repeat(3,1fr);
            div{
                // display: grid;
            }
        }
    }
}